# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage